<%= render 'shared/mainheader' %>

<section class="container">
  <iframe
    title="Drabkirn Analytics Opt Out Banner"
    class="drab-analytics-opt-out-iframe"
    src="https://analytics.cdadityang.xyz/index.php?module=CoreAdminHome&action=optOut&language=en&backgroundColor=2A2D31&fontColor=FFF&fontSize=1.2em"
  ></iframe>
</section>

<section class="container mt-60">
  <div class="align-center">
    <a href="/legal/privacy_policy" class="btn btn-wide">Back</a>
  </div>
</section>

<%= render 'shared/footer' %>