<%= render 'shared/mainheader' %>

<section class="container">
  <div class="legal-timeline mb-30">
    <u class="u-orange">Effective as of 1st March, 2020</u>
    <u class="u-gold legal-timeline-updated-on">Updated on 11th April, 2020</u>
  </div>
</section>

<section>
  <div class="container">
    <%= @body_content %>
  </div>
</section>

<section class="container mt-60">
  <div class="align-center">
    <a href="https://go.cdadityang.xyz/clas" target="_blank" rel="noopener noreferrer" class="btn btn-wide">Sign our CLA</a>
    <br />
    <a href="/" class="btn btn-wide">Back</a>
  </div>
</section>

<%= render 'shared/footer' %>