<%
  @meta_title = "Credits | Legal"
  @meta_description = "Since we believe in a free and open-world, we use some free stuff out there to make drabkirn work as you see it today."
  @meta_keywords = "drabkirn, drab, legal, drabkirn legal, drab legal, legal, drabkirn credits, drab credits, credits"
  @meta_site_name = "Legal"
%>

<%= render 'shared/mainheader' %>

<section class="container">
  <div class="legal-timeline mb-30">
    <u class="u-orange">Updated on 11th April, 2020</u>
  </div>
</section>

<section>
  <div class="container">
    <%= @body_content %>
  </div>
</section>

<section class="container mt-60">
  <div class="align-center">
    <a href="/" class="btn btn-wide">Back</a>
  </div>
</section>

<%= render 'shared/footer' %>