<%= render 'shared/mainheader' %>

<section class="container">
  <div class="legal-timeline mb-30">
    <u class="u-orange">Updated on 11th April, 2020</u>
  </div>
</section>

<section>
  <div class="container">
    <%= @body_content %>
  </div>
</section>

<section class="container mt-60 mb-80">
  <div class="align-center">
    <a href="/" class="btn wide-btn">Back</a>
  </div>
</section>

<%= render 'shared/footer' %>