<%
  @meta_title = "Privacy Policy | Legal"
  @meta_description = "Our mission at drabkirn is reflected more in our privacy policy. We sincerely care about the privacy of your data and are committed to protecting it."
  @meta_keywords = "drabkirn, drab, legal, drabkirn legal, drab legal, privacy policy, drabkirn privacy policy, drab privacy policy, privacy policy"
  @meta_site_name = "Legal"
%>

<%= render 'shared/mainheader' %>

<section class="container">
  <div class="legal-timeline mb-30">
    <u class="u-orange">Effective as of 20th December, 2019</u>
    <u class="u-gold legal-timeline-updated-on">Updated on 9th April, 2020</u>
  </div>
</section>

<section class="container">
  <div>
    <%= @body_content %>
  </div>
</section>

<section class="container mt-60">
  <div class="align-center">
    <a href="/" class="btn btn-wide">Back</a>
  </div>
</section>

<%= render 'shared/footer' %>