<%
  @meta_title = "Terms and Conditions | Legal"
  @meta_description = "There are some rules and regulations you need to read, understand, and agree to access our websites and our products."
  @meta_keywords = "drabkirn, drab, legal, drabkirn legal, drab legal, Terms and Conditions, drabkirn Terms and Conditions, drab Terms and Conditions, Terms and Conditions"
  @meta_site_name = "Legal"
%>

<%= render 'shared/mainheader' %>

<section class="container">
  <div class="legal-timeline mb-30">
    <u class="u-orange">Effective as of 20th December, 2019</u>
    <u class="u-gold legal-timeline-updated-on">Updated on 9th April, 2020</u>
  </div>
</section>

<section class="container">
  <div>
    <%= @body_content %>
  </div>
</section>

<section class="container mt-60">
  <div class="align-center">
    <a href="/" class="btn btn-wide">Back</a>
  </div>
</section>

<%= render 'shared/footer' %>