:root {
  --quotes-pink-color: #A53860;
}



/* MAINHEADER START */
.dbk-header-intro-dsk-content h1 {
  font-size: 4em;
}
/* MAINHEADER END */



/* Homepage START */
.section-explain {
  height: 250px;
}

.section-explain .col-dsk-4, .section-explain .col-dsk-8 {
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission-image {
  background: var(--light-white-color);
}

.vision-image {
  background: var(--light-white-color);
  width: 180px;
  height: 180px;
}
/* Homepage END */



/* Quotes START */
.quotes-blockquote {
  border-left-color: var(--quotes-pink-color);
}

.quotes-card:nth-child(even) {
  clear: both;
}

.quotes-card {
  background: var(--quotes-pink-color);
}

.quotes-card .card-header h3 a, .quotes-card .card-content p a {
  border-bottom: none;
  line-height: 1;
  font-size: 1em;
}

.quotes-card .card-footer a img {
  width: 50px;
  height: 50px;
}

.quotes-pagination .pagination-active {
  background: var(--quotes-pink-color);
}

.u-quotes-pink {
  text-decoration-color: var(--quotes-pink-color);
}

.p-quotes-by {
  display: block;
}

.badgetag-quotes-pink {
  background: var(--quotes-pink-color);
  color: var(--light-white-color);
}

.quote-share-btns {
  text-align: center;
}

.quote-share-btns a {
  border-bottom: none;
}

.quote-share-btns a img {
  width: 100px;
}
/* Quotes END */



/* Global others START */
.field-explanation {
  font-size: 1em;
}

/* Large devices: Laptops */
@media only screen and (min-width: 768px) {
  .show-on-small-device-only {
    display: none;
  }
}

/* Small + Medium Devices: Mobile + Tab */
@media only screen and (max-width: 768px) {
  .show-on-large-device-only {
    display: none;
  }
}
/* Global others END */