<footer class="mt-100">
  <div class="footer-legal">
    <p class="col-dsk-6 col-mob-12 pl-20">Copyrights &copy;, 2019-2020 - <a href="/">Drabkirn</a></p>
    <div class="footer-legal-links align-right col-dsk-6 col-mob-12 pr-20">
      <a href="/newsletter" class="mr-10">Newsletter</a>
      <a href="/palace" class="mr-10">Palace</a>
      <a href="mailto:drabkirn@cdadityang.xyz" class="mr-10">Contact</a>
    </div>
  </div>
  <div class="float-clearfix"></div>
  <div class="footer-baaaaaa">
    <p class="align-center"><i>@Baaaaaa</i></p>
  </div>
</footer>