<footer class="mt-60">
  <div class="row">
    <p class="col-dsk-6 col-mob-12 pl-20 mt-5 align-center-on-mob-only">
      Copyrights &copy;, 2019-2020 - <a href="/">Drabkirn</a>
    </p>
    <div class="col-dsk-6 col-mob-12 pr-20 mt-5 align-right align-center-on-mob-only">
      <a href="/newsletter" class="mr-10">Newsletter</a>
      <a href="/palace" class="mr-10">Palace</a>
      <a href="mailto:drabkirn@cdadityang.xyz" class="mr-10">Contact</a>
    </div>
  </div>
  <div class="align-center mt-5">
    <p class="italic">@Baaaaaa</p>
  </div>
</footer>