<header>
  <div class="row align-center-flex-vh">
    <div class="col-dsk-4 col-mob-12 align-center mt-30">
      <a href="/" class="a-image"><img src="/content/images/drabkirn-logo-180x180.png" alt="Drabkirn Logo Header" /></a>
    </div>

    <div class="col-dsk-8 col-mob-12 align-center-on-mob-only">
      <h1>Drabkirn</h1>
      <h2><%= @mainheader_app_name %></h2>
      <p class="mt-20 fs-1-8">
        <%= @mainheader_app_info %>
      </p>
    </div>
  </div>

  <hr />
</header>