<%= render 'shared/mainheader' %>

<section>
  <div class="container mb-50">
    <%= @body_content %>
  </div>
</section>

<hr />

<section class="container mt-60 mb-80">
  <div class="align-center">
    <a href="/" class="btn wide-btn">Back</a>
  </div>
</section>

<%= render 'shared/footer' %>