<header>
  <div class="header-intro-dsk">
    <div class="header-intro-dsk-logo col-dsk-4 align-center mt-70 mb-40">
      <a href="/" class="a-image"><img src="/content/images/drabkirn-logo-180x180.png" alt="Drabkirn Logo Header" /></a>
    </div>
    <div class="header-intro-dsk-content drabkirn-header-intro-dsk-content col-dsk-8">
      <h1>Drabkirn</h1>
      <h2>Docs</h2>
      <p class="mt-20 fs-1-8">
        Welcome to our docs. Whether you want to use our APIs, know the inner workings of our applications, or just anything, you've come to the right place. Let's learn and improve together.
      </p>
    </div>
  </div>

  <div class="float-clearfix"></div>

  <div class="header-intro-mob">
    <div class="header-intro-mob-logo align-center mt-30">
      <a href="/" class="a-image"><img src="/content/images/drabkirn-logo-180x180.png" alt="Drabkirn Logo Header" /></a>
    </div>
    <div class="container header-intro-mob-content align-center">
    <h1>Drabkirn</h1>
    <h2>Docs</h2>
    <p class="mt-20 fs-1-4">
      Welcome to our docs. Whether you want to use our APIs, know the inner workings of our applications, or just anything, you've come to the right place. Let's learn and improve together.
    </p>
    </div>
  </div>

  <hr />
</header>

<section>
  <div class="container">
    <%= @body_content %>
  </div>
</section>

<footer class="mt-100">
  <div class="footer-legal">
    <p class="col-dsk-6 col-mob-12 pl-20">Copyrights &copy;, 2019-2020 - <a href="/">Drabkirn</a></p>
    <div class="footer-legal-links align-right col-dsk-6 col-mob-12 pr-20">
      <a href="/newsletter" class="mr-10">Newsletter</a>
      <a href="/palace" class="mr-10">Palace</a>
      <a href="mailto:drabkirn@cdadityang.xyz" class="mr-10">Contact</a>
    </div>
  </div>
  <div class="float-clearfix"></div>
  <div class="footer-baaaaaa">
    <p class="align-center"><i>@Baaaaaa</i></p>
  </div>
</footer>