<%
  @meta_title = "Documentation | Docs"
  @meta_description = "Welcome to our docs. Whether you want to use our APIs, know the inner workings of our applications, or just anything, you've come to the right place. Let's learn and improve together."
  @meta_keywords = "drabkirn, drab, docs, drabkirn docs, drab docs, documentation, drabkirn documentation, drab documentation, docs, api, documentation"
  @meta_app_url = "https://drabkirn.cdadityang.xyz/docs"
  @meta_og_image = asset_url('og_images/docs.png')
  @meta_site_name = "Docs"
%>

<%= render 'shared/mainheader' %>

<section>
  <div class="container mb-50">
    <%= @body_content %>
  </div>
</section>

<hr />

<section class="container mt-60">
  <div class="align-center">
    <a href="/" class="btn btn-wide">Back</a>
  </div>
</section>

<%= render 'shared/footer' %>