<% if notice %>
  <section class="container">
    <div class="jumbo jumbo-success">
      <p><%= notice %></p>
    </div>
  </section>
<% end %>

<% if alert %>
  <section class="container">
    <div class="jumbo jumbo-error">
      <p><%= alert %></p>
    </div>
  </section>
<% end %>