<!DOCTYPE html>
<html>
  <head>
    <title>Drabkirn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="/manifest.json">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
